body { font-family: "proxima-nova",sans-serif; font-size: 1em; }

#footer {
  border-top: 1px solid #bbbbbb;
}

@media (min-width: 768px) {
  #container {
    margin-top: 40px;
  }

  #footer {
    margin-top: 20px;
  }

  #footer address {
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  #footer {
    padding-top: 20px;
  }
}
