<!DOCTYPE html>
<html lang="en">
  <head>
    <title>gMessage for Google Voice</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0">
    <script type="text/javascript" src="//use.typekit.net/veq1orb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% if page.javascript %}
    <script src="/javascripts/{{ page.javascript }}"></script>
    {% endif %}
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    {% if page.css %}
    <link href="/css/{{ page.css }}" rel="stylesheet" media="screen">
    {% endif %}
  </head>
  <body>
    <div class="container-fluid" id="container">
      <div class="row-fluid" id="content">
        {{ content }}
      </div>
      <div class="row-fluid">
        <div class="span8 offset2" id="footer">
          <div class="row-fluid">
            <div class="span3">
              <address>
                <strong><i class="icon-twitter"></i> twitter</strong><br/>
                <a href="http://twitter.com/gmessageapp"> @gmessageapp</a><br/>
              </address>
            </div>
            <div class="span3">
              <address>
                <strong><i class="icon-envelope"></i> email</strong><br/>
                <a href="mailto:mike@gmessageapp.com"> mike@gmessageapp.com</a>
              </address>
            </div>
            <div class="span6">
              <small class="pull-right muted">
                Copyright &copy; 2012 Mike Enriquez
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36795518-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
